.studio {
  background-image: url(../img/section_bg.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 90px;
}
.studio-inner {
  margin-top: 45px;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}
@media (min-width: 768px) {
  .studio-inner {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .studio-inner {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .studio-photo img {
    max-height: 318px;
  }
}
