.values {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 90px;
}
.values-inner {
  margin-top: 45px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
.value-text {
  margin-top: 25px;
}
@media (min-width: 768px) {
  .values-inner {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .values-inner {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
