.about {
display: flex;
flex-direction: column;
padding-top: 90px;
padding-bottom: 90px;
}
.about-image {
    flex: 1;
}
.about-content {
    margin-top: 50px;
    flex: 1;
}
.about-description {
    margin-top: 25px;
    margin-bottom: 35px;
}
@media (min-width: 768px) {
   .about {
flex-direction: row;
align-items: center;
gap: 30px;
} 
.about-content {
    margin-top: 0;
}
}
