.header {
  height: 100vh;
}
.header-logo a {
  font-family: var(--title-font-family);
  color: var(--dark-title-color);
  font-size: 28px;
  line-height: 39px;
  font-weight: 700;
}
.header-menu,
.header-socials {
  display: none;
}
.header-burger {
  width: 40px;
  height: 40px;
  padding: 8px;
}
.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background-color: var(--light-title-color);
  padding-top: 10px;
  padding-bottom: 10px;
  height: 60px;
  border-bottom: 1px solid var(--accent-color);
}
.header-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1200px) {
  .header-nav {
    height: 70px;
  }
  .header-burger {
    display: none;
  }
  .header-logo a {
    font-size: 32px;
    line-height: 45px;
  }
  .header-menu,
  .header-socials {
    display: flex;
    justify-content: space-between;
  }

  .header-menu-item {
    color: var(--accent-color);
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
    margin: 5px 15px;
  }
  .header-menu-item:hover {
    color: var(--brand-color);
  }
  .header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--brand-color);
    padding: 7px;
    margin: 0 5px;
    color: var(--brand-color);
  }

  .header-icon:hover {
    background-color: var(--brand-color);
    color: var(--light-title-color);
  }
}
