.team {
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 43px 27px;
  box-shadow: 0 4px 15px 0 rgb(0 0 0 / 6%);
  flex: 1;
}

.team-card:hover {
  box-shadow: 0 4px 15px 0 rgb(0 0 0 / 56%);
  transform: scale(1.1);
}

.team-card-photo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 50px;
}

.team-card-subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.team-card-description {
  text-align: center;
}

@media (min-width: 1200px) {
  .team-cards {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}