.benefits {
  padding-top: 80px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefits-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  margin-top: 50px;
}

.benefits-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
  background-size: cover;
  background-position: center;
  width: 100vw;
  padding: 150px 24px;
}

.benefits-card:nth-child(1) {
  background-image: linear-gradient(to top,
      rgb(77, 79, 91, 0.8),
      rgb(77, 79, 91, 0.8)),
    url(../img/index/benefits1.png);
}

.benefits-card:nth-child(2) {
  background-image: linear-gradient(to top,
      rgb(77, 79, 91, 0.8),
      rgb(77, 79, 91, 0.8)),
    url(../img/index/benefits2.png);
}

.benefits-card:nth-child(3) {
  background-image: linear-gradient(to top,
      rgb(77, 79, 91, 0.9),
      rgb(77, 79, 91, 0.9)),
    url(../img/index/benefits3.png);
}

.benefits-card:nth-child(4) {
  background-image: linear-gradient(to top,
      rgb(77, 79, 91, 0.9),
      rgb(77, 79, 91, 0.9)),
    url(../img/index/benefits4.png);
}

.benefits-card:nth-child(5) {
  background-image: linear-gradient(to top,
      rgb(77, 79, 91, 0.9),
      rgb(77, 79, 91, 0.9)),
    url(../img/index/benefits5.png);
}

.benefits-card:nth-child(6) {
  background-image: linear-gradient(to top,
      rgb(77, 79, 91, 0.9),
      rgb(77, 79, 91, 0.9)),
    url(../img/index/benefits6.png);
}

.benefits-title {
  text-align: center;
}

.benefits-card-title {
  text-align: center;
  color: var(--light-title-color);
  margin-bottom: 20px;
}

.benefits-card-description {
  text-align: center;
  color: var(--light-title-color);
  opacity: 1;
  transition: all 1s ease-in-out;
}

@media (min-width: 768px) {
  .benefits-cards {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .benefits-card {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .benefits-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .benefits-card {
    padding: 200px 24px;
  }
}