.reviews {
  background-image: linear-gradient(to top,
      rgb(77, 79, 91, 0.8),
      rgb(77, 79, 91, 0.8)),
    url(../img/index/reviews_bg.png);
  background-position: center;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 95px;
}

.reviews-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews .decor-line {
  background-color: var(--light-title-color);
}

.reviews-title {
  color: var(--light-title-color);
}

.reviews-cards {
  position: relative;
  height: 570px;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  gap: 50px;
  margin-top: 50px;
}

.reviews-card {
  position: absolute;
  max-width: 1200px;
  height: 570px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px;
  transition: all 0.5s;
  background-color: var(--light-title-color);
}

.reviews-card-description {
  text-align: center;
  margin-bottom: 20px;
  max-width: 90%;
}

.btn {
  position: absolute;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid var(--brand-color);
  background-color: var(--title-color);
  padding: 7px;
  color: var(--brand-color);
}

.btn:hover {
  background-color: var(--brand-color);
  color: var(--light-title-color);
}

.btn-prev {
  top: 50%;
  left: 0;

}

.btn-next {
  top: 50%;
  right: 0;
}

@media (min-width: 480px) {

  .reviews-card,
  .reviews-cards {
    height: 420px;
  }
}

@media (min-width: 768px) {
  .reviews-card {
    padding: 50px;
  }

  .reviews-card,
  .reviews-cards {
    height: 350px;
  }

  .btn-prev {
    left: 10px;
  }

  .btn-next {
    right: 10px;
  }
}

@media (min-width: 1200px) {

  .reviews-card,
  .reviews-cards {
    height: 270px;
  }

  .btn-prev {
    left: 20px;
  }

  .btn-next {
    right: 20px;
  }
}