.press {
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.press-inner {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 50px;
  gap: 50px;
}
.press-image-subtitle {
  font-size: 17px;
  margin-top: 30px;
}
.press-image img {
  max-height: 270px;
}
@media (min-width: 768px) {
  .press-inner {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .press-image img {
    max-height: 205px;
  }
}
@media (min-width: 1200px) {
  .press-inner {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .press-image img {
    max-height: 170px;
  }
}
