.projects {
    background-image: url(../img/section_bg.png);
    background-position: center;
    background-size: cover;
    position: relative;
    top: 60px;
    padding-top: 85px;
    padding-bottom: 60px;
}

.projects-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-title {
    margin-bottom: 45px;
}

.projects-inner,
.projects-inner-reverse {
    display: flex;
    flex-direction: column;
    background-color: var(--light-title-color);
    padding: 40px;
    gap: 40px;
    margin-bottom: 30px;
}

.projects-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.projects-image {
    flex: 1;
}

.projects-card-title {
    margin-bottom: 25px;
}

@media (min-width: 1200px) {

    .projects-inner {
        flex-direction: row;
    }

    .projects-inner-reverse {
        flex-direction: row-reverse;
    }
}