.header {
    height: 100vh;
}

.banner {
    background-image: linear-gradient(to top,
            rgb(77, 79, 91, 0.8),
            rgb(77, 79, 91, 0.8)),
        url(../img/services/services_bg.jpeg);
    display: flex;
    align-items: center;
    height: 50vh;
}

.banner-title {
    text-align: center;
}

.banner-bottom {
    position: relative;
    width: 100%;
    top: calc(50vh + 60px);
    height: calc(50vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-text {
    text-align: center;
    font-style: italic;
    font-size: 19px;
    line-height: 30px;
}

@media (min-width: 1200px) {
    .banner-text {
        max-width: 740px;
    }

    .banner-bottom {
        top: calc(50vh + 71px);
        height: calc(50vh - 71px);
    }
}